footer {
    margin-top: 4rem;
    nav {
        margin-bottom: 2rem;
        @media @phone {
            .myFlex(@towrap: nowrap);
        }
        a {
            .perfectLink();
            @media @phone {
                color: @light-gray;
                background: @black;
                padding: 0 0.25em;
                border-right: 1px solid white;
                font-size: 2em;
            }
        }
        a:last-of-type {
            @media @phone {
                border-right: none;
            }  
        }
    }
}