header {
    h1 {
        margin: 5rem auto;
        font-size: 10rem;
        width: 50%;
        @media @phone {
            width: 80%;
        }
    }
	nav {
        .myFlex(@towrap: nowrap, @justify: space-between);
        border-bottom: @bottom;
        @media @phone {
            .myFlex(@towrap: wrap);
            border-bottom: none;
            div {
                width: 100%;
            }
        }
        padding: 0 2rem;
        width: 100%;
        

        div {
            .myFlex(@towrap: nowrap); 
            @media @phone {
                width: 100%;
                .myFlex(@towrap: nowrap; @direction: column);
            }
            a {
                .perfectLink();
            }
        }
        .icon-container {
            padding: 1rem;
            @media @phone {
                display: none;
            }
        }
        .logo-container {
            width: 30%;
            @media @tablet {
                display: none;
            }
            @media @phone {
                display: block;
                margin: 1em 0;
            }
        }
    }
}