.team-container {
    .myFlex(@align: stretch);
    align-content: space-between;
    text-align: center;
    @media @tablet {
        width: 80%;
    }
    .bio-container {
        .makeGrow();
        padding: 2rem;
        width: 31%;
        @media @tablet {
            width: 48%;
        }
        @media @phone {
            width: 98%;
        }
        .myFlex(@direction: column);
        border-radius: 2px;
        color: @black;
        background: @light-gray;
        margin: 2rem auto;
        h2 {
            font-weight: bolder;
            letter-spacing: 0.1em;
            margin: 1rem;
            color: @dark-gray;
        }
        h3 {
            padding: 1rem;
            font-size: 2rem;
        }
        .img-container {
            img {
                border-radius: 2px;
            }
        }
        .bio-links {
            width: 50%;
            margin-bottom: 1rem;
            .myFlex();
            a {
                color: @black;
                font-size: 2rem;
                &:hover {
                    background: @yellow;
                    border-radius: 50%;
                }
            }
        }
    }
}